{% extends "base.html" %}

{% block title %}
Настройка

{% endblock %}

{% block content %}


<h4>Изменение настроек расчёта рейтинга</h4>
<h5>Внимание: изменения происходят внутри текущей сессии</h5>

<div class="my-2">
  s coefficient: {{counting_data["s_coef"]}}<br>
  u coefficient: {{counting_data["u_coef"]}}<br>
  
  Time lower bound (t0): {{counting_data["time_lower"]}}<br>
  Time heigher bound (t1): {{counting_data["time_higher"]}}<br>
</div>


<form action="{{ url_for('change_settings') }}" method="POST" class="mb-5">
  <div class="row row-cols-2">

    <div class="col text-center">
      {{form["s_coef"].label()}}
      {{form["s_coef"](class="form-control")}}
    </div>

    <div class="col text-center">
      {{form["u_coef"].label()}}
      {{form["u_coef"](class="form-control")}}
    </div>

    <div class="col text-center">
      {{form["time_lower"].label()}}
      {{form["time_lower"](class="form-control")}}
    </div>

    <div class="col text-center">
      {{form["time_higher"].label()}}
      {{form["time_higher"](class="form-control")}}
    </div>

    
  </div>

  <div class="mt-2 d-grid gap-2 d-block">
      <button type="submit" name="action" value="save" class="btn btn-success">Save Settings</button>
  </div>

</form>


{% endblock %}