{% extends "base.html" %}

{% block title %}
Main Page

{% endblock %}

{% block content %}

{% if is_error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
Error: {{is_error}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="my-2">
s coefficient: {{counting_data["s_coef"]}}<br>
u coefficient: {{counting_data["u_coef"]}}<br>

Time lower bound (t0): {{counting_data["time_lower"]}}<br>
Time heigher bound (t1): {{counting_data["time_higher"]}}<br>
</div>

<h3>Users</h3>
<div class="row">
{% for user in users %}
<a href="/user/{{ user.id }}">{{user.name}}</a>
{% endfor %}
</div>



{% endblock %}